@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-volkhov), var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-volkhov);
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 67%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border/25;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .btn-default {
    position: relative;
    background: linear-gradient(
        0deg,
        rgba(217, 217, 217, 0.07),
        rgba(217, 217, 217, 0.07)
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.084) 55.5%,
        rgba(255, 255, 255, 0.2) 100%
      );
    overflow: hidden;
  }

  .btn-default::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    top: 75%;
    border-radius: 50%;
    filter: blur(20px);
    transition: top 0.3s ease-in-out;
  }

  .btn-default:hover::before {
    top: 40%;
  }

  .btn-primary::before {
    background: rgba(158, 150, 244, 1);
  }

  .btn-secondary::before {
    background: rgba(150, 223, 244, 1);
  }

  .glass-effect {
    background: rgba(217, 217, 217, 0.07);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(171, 171, 171, 0.26);
  }
}
p {
  @apply font-inter;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none; /* For Firefox */
}

/* Prevent scrollbar-related margin shift */
.no-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
