NEXT_PUBLIC_API_URL=http://localhost:3300/api/v1
NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_SIGN_MESSAGE=Sign this message to continue on alienzone
NEXT_PUBLIC_TOKEN_ADDRESS=0x888aaa48ebea87c74f690189e947d2c679705972